<!DOCTYPE html>

{% load static %}

<html lang="en" data-theme="cyberpunk">
<head>
    <meta charset="UTF-8">

    <title>Svalna Admin</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/aff7f0465e.js" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.16.2/dist/themes.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@1.16.2/dist/full.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css"/>

    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@tailwindcss/typography@0.4.x/dist/typography.min.css"
    />
</head>

<body class="bg-primary">

<div class="navbar mb-2 bg-primary text-neutral-content">
    <div class="flex-1 px-2 mx-6">
    <span class="text-lg font-bold">
             <a href="#"
                class="text-lg font-semibold tracking-widest uppercase rounded-lg">STÖTEN 2022</a>
          </span>
    </div>
    <div class="flex-none">
        <span class="text-lg font-bold">
        {% if user.username %}
            <i class="fa fa-user"></i>&nbsp; {{ user.username }} &nbsp;
        {% endif %}
        </span>
        <span class="text-lg font-bold mx-4">
             <a href="/logout/"
                class="text-sm font-semibold tracking-widest uppercase rounded-lg">
             </a>
    </span>
    </div>
</div>

<div class="card m-6 lg:card-side bordered shadow-xl bg-base-100">
    <div class="card-body">
        <table class="table w-full responsive">
            <tbody>
            <tr>
                <th>
                    <div class="font-semibold tracking-widest uppercase rounded-lg">
                        Lördag
                    </div>
                </th>
                <td>Middag</td>
                <td>

                </td>
                <td>Daniel & Åsa</td>
            </tr>
            <tr>
                <th>
                    <div class="font-semibold tracking-widest uppercase rounded-lg">
                        Söndag
                    </div>
                </th>
                <td>Lunch</td>
                <td>

                </td>
                <td></td>
            </tr>
            <tr>
                <th>

                </th>
                <td>Middag</td>
                <td>
                    <div class="font-semibold tracking-widest uppercase rounded-lg">
                        <span class="badge badge-primary badge-sm mr-4">Förrätt</span>Svartkål - Sardeller - Parmesan
                    </div>
                    <div class="font-semibold tracking-widest uppercase rounded-lg">
                        <span class="badge badge-secondary badge-sm mr-4">Huvudrätt</span>Mustig bolognese
                    </div>
                    <div class="font-semibold tracking-widest uppercase rounded-lg">
                        <span class="badge badge-accent badge-sm mr-4">Dessert</span>Gelato
                    </div>
                </td>
                <td>Emil & Magdalena</td>
            </tr>

            <tr>
                <th>
                    <div class="font-semibold tracking-widest uppercase rounded-lg">
                        Måndag
                    </div>
                </th>
                <td>Lunch</td>
                <td>

                </td>
                <td></td>
            </tr>
            <tr>
                <th>

                </th>
                <td>Middag</td>
                <td>

                </td>
                <td></td>
            </tr>
            <tr>
                <th>
                    <div class="font-semibold tracking-widest uppercase rounded-lg">
                        Tisdag
                    </div>
                </th>
                <td>Lunch</td>
                <td>

                </td>
                <td></td>
            </tr>
            <tr>
                <th>

                </th>
                <td>Middag</td>
                <td>
                    <div class="font-semibold tracking-widest uppercase rounded-lg">
                        <span class="badge badge-secondary badge-sm mr-4">Huvudrätt</span>Take away pizza
                    </div>
                </td>
                <td></td>
            </tr>
            <tr>
                <th>
                    <div class="font-semibold tracking-widest uppercase rounded-lg">
                        Onsdag
                    </div>
                </th>
                <td>Lunch</td>
                <td>
                    <div class="font-semibold tracking-widest uppercase rounded-lg">
                        <span class="badge badge-secondary badge-sm mr-4">Huvudrätt</span>Bouillabaise - Aioli - Bröd
                    </div>
                    <div class="font-semibold tracking-widest uppercase rounded-lg">
                        <span class="badge badge-accent badge-sm mr-4">Dessert</span> Panacotta - Lakrits - Hallon
                    </div>
                </td>
                <td>Emil & Magdalena</td>
            </tr>
            <tr>
                <th>

                </th>
                <td>Middag</td>
                <td>

                </td>
                <td></td>
            </tr>
            <tr>
                <th>
                    <div class="font-semibold tracking-widest uppercase rounded-lg">
                        Torsdag
                    </div>
                </th>
                <td>Lunch</td>
                <td>

                </td>
                <td></td>
            </tr>
            <tr>
                <th>

                </th>
                <td>Middag</td>
                <td>

                </td>
                <td></td>
            </tr>
            <tr>
                <th>
                    <div class="font-semibold tracking-widest uppercase rounded-lg">
                        Fredag
                    </div>
                </th>
                <td>Lunch</td>
                <td>

                </td>
                <td></td>
            </tr>
            <tr>
                <th>

                </th>
                <td>Middag</td>
                <td>

                </td>
                <td></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<footer class="footer p-10 bg-primary text-neutral-content">
  <div>
    <p>EMIL<br>Providing reliable dinner schedules since 2022</p>
  </div>
</footer>

</body>
</html>